<settings>
  <servers>
    <!-- configure login and password for the repositories to deploy to -->
    <!-- the server information is stored in the project pom or a       -->
    <!-- parent pom. The id values match e.g. the basepom project.      -->
    <server>
      <id>releases</id>
      <username>deployment</username>
      <password>deployment</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password>deployment</password>
    </server>
  </servers>
</settings>
